<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Excluir conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Excluir conta</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-text
        >Tem certeza que quer excluir sua conta? Essa ação é irreversível, por
        isso, para garantir que você realmente deseja excluir sua conta, digite
        <ion-text color="danger" class="danger">EXCLUIR</ion-text> no campo abaixo:
      </ion-text>
    </ion-row>
    <form (submit)="excluirConta()">
      <ion-row>
        <ion-input
          [(ngModel)]="confirmacao"
          name="confirmacao"
          labelPlacement="stacked"
          label="Confirmação"
          placeholder="EXCLUIR"
          fill="outline"
        >
        </ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button type="submit" class="judje" size="default" [disabled]="loading">
          <ion-spinner *ngIf="loading"></ion-spinner> Excluir Conta
        </ion-button>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
